BOT_TOKEN=
# Telegram API配置
API_ID=
API_HASH=
# 登录协议类型：'ipad' | 'car' | 'mac' | 'pad' | 'win'
DEVICE_TYPE=ipad
# 消息响应模式：'polling' | 'callback'
MODE=polling
# 如果是 callback 模式需要填写回调端口号
CALLBACK_PORT=8056
# 代理配置(可选)
# 协议socks5,http,https
#PROXY_PROTOCOL=socks5
#PROXY_HOST=
#PROXY_PORT=
PROXY_USERNAME=
PROXY_PASSWORD=
# 微信 socks 代理配置(如果提示输入验证码可以尝试使用代理，代理到同一个区域)
# WX_PROXY_HOST=
# WX_PROXY_USERNAME=
# WX_PROXY_PASSWORD=
# 腾讯云ASR配置
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
# 自定义消息模板配置:(#[alias]:联系人备注,#[name]:联系人昵称,#[topic]:群聊昵称,#[alias_first]:备注优先,如果没有备注就显示联系人的昵称)
## 群消息格式
ROOM_MESSAGE='<i>🌐#[topic]</i> ---- <b>👤#[(alias)] #[name]: </b>'
## 公众号消息格式
OFFICIAL_MESSAGE='<b>📣#[name]: </b>'
## 联系人消息格式
CONTACT_MESSAGE='<b>👤#[alias_first]: </b>'
## 群消息格式(群组下)
ROOM_MESSAGE_GROUP='<b>👤#[(alias)] #[name]: </b>'
## 公众号消息格式(群组下)
OFFICIAL_MESSAGE_GROUP='<b>📣#[name]: </b>'
## 联系人消息格式(群组下)
CONTACT_MESSAGE_GROUP='<b>👤#[alias_first]: </b>'
## 自动创建微信群组的名称格式
CREATE_ROOM_NAME='#[alias_first]'
## 自动创建联系人群组的名称格式
CREATE_CONTACT_NAME='#[alias]#[[name]]'
## 文字消息显示格式:#[identity]身份文本,#[body]:消息文本,#[br]换行
MESSAGE_DISPLAY='#[identity]#[br]#[body]'
BASE_API='http://wx2tg-server:8058/api'
DEBUG_MODE=false