appname = wxapi
httpaddr = "0.0.0.0"
httpport = 8058
proxyport = 8888
runmode = dev
viewspath = "template"
autorender = false
copyrequestbody = true
EnableDocs = true
redislink = wx2tg-redis:6379
redispass = ""
redisdbnum = 7
ocrurl = ""
syncmessagebusinessuri = "http://wx2tg-v3:8056/message/callback/{0}"
logoutbusinessuri = ""
syncmessage = false
msgpush = false
rabbitmq = false

sessionon = true

SessionName = "wxapi"
ServerName = "wxapi"

longlinkenabled = true
longlinkconnecttimeout = "1m"
